body {
  margin: 0;
}

#__mainbanner {
  background: url("./main_banner.png");
  position: relative;
  width: 100%;
  height: 800px;
  margin-bottom: 100px;
  background-size: 100% 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#__mainbanner::before,
#__subbanner::before {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  top: 0;
}
 {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  top: 0;
}

#__bannerlabel {
  color: #ffffff;
  z-index: 2;
  position: relative;
  text-align: center;
  font-size: 3em;
  font-weight: 400 !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
  margin: 0px auto;
  top: 50px;
}

#__subbanner {
  width: 60%;
  height: 360px;
  background: url("./sub_banner.png");
  margin: 0px auto;
  background-size: 100% 100%;
  position: relative;
  bottom: -30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0px;
}

#__subbanner_label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  z-index: 2;
  color: #ffffff;
  position: relative;
  top: 50px;
}

#__subbanner_label h2 {
  font-size: 2.5em;
  font-weight: 800 !important;
  margin: 0;
  line-height: 2em;
}

#__subbanner_label p {
  margin-top: 0;
  font-weight: normal !important;
  font-size: 1.7em;
}

#__subbanner_label .dots {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 2px;
  background-color: #ffffff;
}

#__subbanner_label .dots.active {
  background: #fd3d65;
}

@media screen and (max-width: 991px) {
  #__subbanner {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  #__mainbanner {
    height: 400px;
  }

  #__bannerlabel {
    font-size: 2em;
    padding: 0px 15px;
  }

  #__subbanner {
    height: 200px;
    bottom: -30%;
  }

  #__subbanner_label {
    padding-bottom: 30px;
  }

  #__subbanner_label * {
    font-size: x-large !important;
  }
}

@media screen and (max-width: 520px) {
  #__subbanner_label h2 {
    font-size: 1.5em;
  }

  #__subbanner_label p {
    font-size: 1.2em !important;
  }
}

@media screen and (max-width: 480px) {
  #__bannerlabel {
    font-size: 2em;
    padding: 0px 15px;
  }

  #__subbanner {
    width: 80%;
  }
}
