*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

header{
    background-image: url(../background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    border: 1px solid #000;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #000;
    color: #fff;
}

ul li.active a{
    background-color: #000;
    color: #fff;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin-top: 25px;
    margin-left: 10px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.slide-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(50%) translateY(50%);
    white-space: nowrap;
    border: 1px #fff;
}

.slide-container{
    height: 200px;
    width: 200px;
}
