@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    font-family: "quicksand", cursive;
    background-color: white;
}
.wrapper{
    width: 100%;
    max-width: 680px;
    margin: 100px auto 0;
    padding: 20px;
    box-sizing: border-box;
}
.content{
    text-align: centre;
}
.content h1{
    letter-spacing: 1px;
}
.form{
    width: 100%;
    margin: 25px 0;
}
.top-form,
.middle-form,
.second-middle-form,
.bottom-form{
    width: 100%;
    min-height: 64px;
    margin: 10px 0;
    overflow: hidden;
}
.form input[type="text"],
.form textarea{
    padding: 15px 5px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    transition: 0.3s ease;
}
.form input:focus,
.form textarea:focus{
    border-color: green;
    box-shadow: inset 0 1px 1px rgba(243, 253, 249, 0.479) 
                 0 0 8px rgba(235, 241, 239, 0.5);                
}
.form .label{
    margin-bottom: 5px;
    text-transform: capitalize;
}
.top-form{
    clear: both;
}
.middle-form{
    clear: both;
}
.second-middle-form{
    clear: both;
}
.bottom-form textarea{
    height: 140px;
}
.btn{
    background-color: green;
    width: 100px;
    padding: 10px 0;
    text-align: center;
    text-transform: capitalize;
    color: honeydew;
    letter-spacing: 5px;
    cursor: pointer;
}
::-webkit-input-placeholder{
    font-family: "quicksand", cursive;
    text-transform: capitalize;
}
::-moz-input-placeholder{
    font-family: "quicksand", cursive;
    text-transform: capitalize;
}
::ms-webkit-input-placeholder{
    font-family: "quicksand", cursive;
    text-transform: capitalize;
}