body {
  font-size: 14px;
}
.header_main {
  background: #ffffff;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 80px;
}
.header_logo,
.footer_logo {
  float: left;
  margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 15px;
  width: 65px;
}
.header_navigation,
.footer_navigation {
  margin-top: 22px;
  margin-bottom: 22px;
  float: right;
  margin-right: 150px;
}
.header_nav-area,
.footer_nav-area {
  list-style-type: none;
  display: inline;
}
.item {
  padding: 5px 15px 3px 15px;
}
.footer_main {
  background: rgba(216, 216, 216, 0.5);
  background-size: cover;
  height: 325px;
}
.footer_logo,
.footer_navigation {
  margin: 210px 0px 5px 0px;
}
.footer_logo {
  margin-left: 130px;
}
.footer_navigation {
  margin-right: 150px;
}
.btn {
  color: #ffffff;
  background: #fd3d65;
  text-transform: uppercase;
  border: 1px solid #fd3d65;
  height: 33px;
  width: 87px;
  font-size: 11px;
  margin-left: 29px;
}
