#about-us{
    background-color:#ffffff; ;
}

#about-us-intro{
    background-color: rgba(238, 238, 238, 0.5);
    height: 1126px;
    width: 100%;
    
}

.about-us-intro-row{
    display: flex;
    flex-wrap: wrap;
    height: 1126px;
    width: 100%;
}

.about-us-intro-img{
    width: 50%;
    height: 563px;
}

.about-us-intro-des{
    margin: auto;
}

.about-us-small{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.090535px;
}

.about-us-subcaption{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 33px;
    line-height: 39px;
    letter-spacing: -0.186728px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
}
.about-us-description{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.101852px;
    width: 374px;
    height: 54;
}


#about-us-mid{
    padding-top: 160px;
    margin-bottom: 160px;
    background-color: #FFFFFF;
}
.about-us-cap{
    
    margin: 0 auto;
    text-align: center;

}
#about-us-resort{
    padding-top: 40px;
    margin: auto;
    width: 1160px;
    height: 578px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.about-us-resort-img-row1{
    height: 275px;
    width: 380px;
    
}
.about-us-resort-img-row2{
    height: 283px;
    width: 380px;

}
#about-us-suite{
    background-color:#FFFFFF;
    padding-bottom: 260px;
}
#about-us-suite-frame{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-us-suite-side-left{
    height: 446px;
}

#about-us-suite-main{
    width: 822px;
    height: 573px;
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) ),url("about-us-img/suite-main.png") center no-repeat;
    background-size: cover;
    position: relative;
    z-index:0;
}
#cont{
   position:absolute;
   top:292px;
   left: 55px;;
}
#about-us-suite-main-p{
    width: 393px;
    height: 94px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.226338px;
    color: #FFFFFF;
    margin-bottom: 12px;

}

#about-us-suite-main-span{
    width: 226px;
    height: 23px;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.113169px;
    display:block;
    color: #FFFFFF;
    margin-bottom: 16px;


}
#book-now-button{
    background-color: #FD3D65;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    border: none;
    color: #FFFFFF;
    height: 18px;
    font-size: 15px;
    line-height: 18px;

    letter-spacing: -0.0578704px;

    
}