* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body {
  height: 100%;
}

.facilities_container {
  position: relative;
  top: 0;
  width: 100%;
}

.facilities_header {
  display: flex;
  background: rgba(0, 0, 0, 0.5) url(./img/hotel-background.jpg);
  /* background-image: url(./img/hotel-background.jpg);
  background-color: rgba(0, 0, 0, 0.5);*/
  background-blend-mode: darken;
  background-repeat: no-repeat;
  height: 265px;
  background-size: cover;
  position: relative;
}

.facilities_big {
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  position: absolute;
  left: 27%;
  top: 39%;
}
.facilities_services {
  position: absolute;
  top: 221px;
  left: 38px;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  flex-flow: column wrap;
  z-index: 10;
  background-color: #ffff;
  border: 1px solid #ffffff;
}
li {
  list-style-type: none;
}
.facilities_row-one,
.facilities_row-two,
.facilities_row-three {
  width: 90%;
  border: 1px solid #fff;
  box-shadow: 10px 3px 5px #fff;
}
.facilities_row-one {
  padding-top: 10px;
}
.facilities_grouping {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.facilities_item {
  width: 50%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
}
.facilities_item img {
  height: 32px;
  margin-left: 50px;
}
.facilities_text {
  display: block;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  text-transform: capitalize;
}
/*start of screen size >420px for mobile*/
@media screen and (min-width: 420px) {
  .facilities_big {
    margin-left: 28px;
  }
  .facilities_services {
    top: 160px;
    left: 44px;
  }
  .facilities_grouping {
    padding-left: 20px;
  }
  .facilities_item {
    padding-top: 25px;
  }
}
/*end*/
/* start of tablet styles*/
@media (min-width: 760px) {
  .facilities_big {
    margin-left: 10%;
  }
  .facilities_services {
    margin-left: 30px;
  }
  .facilities_row-one {
    padding-top: 28px;
  }
  .facilities_item img {
    margin-left: 45%;
  }
  .facilities_text {
    font-size: 18px;
  }
}
@media screen (max-width: 800px) {
  .facilities_header {
    width: 100%;
  }
}
@media (min-width: 890px) and (max-width: 1440px) {
  .facilities_header {
    width: 103%;
  }
  .facilities_big {
    margin-left: 158px;
  }
  .facilities_services {
    top: 187px;
    left: 10%;
    margin: 0 auto;
  }
  .facilities_row-one {
    padding-top: 40px;
  }
  .facilities_grouping {
    width: 100%;
    padding-left: 45px;
    margin-bottom: 50px;
  }
  .facilities_item {
    width: 23%;
    padding-right: 7px;
  }
  .facilities_item img {
    height: 45px;
    margin-left: 60px;
    margin-bottom: 15px;
  }
  .facilities_text {
    font-size: 19px;
  }
}
@media (min-width: 1450px) {
  .facilities_big {
    margin-left: 4.5em;
    font-size: 64px;
  }
  .facilities_services {
    top: 200px;
    left: 10%;
  }
  .facilities_grouping {
    width: 100%;
    padding-left: 45px;
    margin-bottom: 50px;
  }
  .facilities_item {
    width: 25%;
  }
  .facilities_item img {
    margin-left: 130px;
    height: 35px;
    margin-bottom: 15px;
  }
}
