*{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

.suite-p-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    line-height: 19px;
    letter-spacing: -0.090535px;
    padding: 5px;
    color: #000000;
    
}

.suite-h1-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    line-height: 39px;
    letter-spacing: -0.186728px
}

.suite-container{
    padding: 1px 0px 1px 0px;
    text-align: center;
}

.suite-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80vh;
}

.suite-img img {
    width: 350px;
    height: 246px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
  }
  .suite-img img:hover {
    width: 550px;
    height: 446px;
  }

  .suite-text-on-image{
    border: 2px solid white;
    text-align: left;
    /* width: 8cm; */
    margin-top: -199px;
    padding-left: 6px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: Regular;
    font-size: 1.7em ; 
    text-align: left;
    vertical-align: Top;
    letter-spacing: -0.23px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  .suite-text-on-image h1{
    font-size: .9em;
    width: 293px;
    height: 84px;
    border: 2px solid red;
  }


  .suite-action-btn{
      border: 1px solid #FD3D65 ;
      padding: 11px 19px 11px 19px;
      background-color: #FD3D65;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-style: SemiBold;
      font-size: 0.9375em;
      letter-spacing: -0.06px;
      /* margin-bottom: 20px; */
      text-decoration: none;
  }


  @media (max-width: 768px) {

    .suite-img img{
        /* border: 2px solid blue; */
        margin: 4px;
    }

    .suite-img img {
        width: 410px;
        height: 266px;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -ms-transition: all 2s ease;
        transition: all 2s ease;
        /* margin-bottom: 60px; */
      }
      .suite-img img:hover {
        width: 410px;
        height: 266px;
      }

      .suite-img-wrapper{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100vh;
        width: 100%;
        margin: 0px auto;
    }
    
  }


  @media (max-width: 414px) {

    .suite-img img {
      width: 300px;
      height: 198px;
      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
      transition: all 2s ease;
      /* margin-bottom: 60px; */
    }
    .suite-img img:hover {
      width: 301px;
      height: 198px;
    }

    .suite-img-wrapper{
      margin: 0px auto;
      width: 90%;
      justify-content: center;
    }

  }
