body {
    border: 0;
    margin: 0;
  }
  .rooms-header {
    background: url(../images/rooms-header-bg.svg) no-repeat;
    position: absolute;
    width: 100%;
    height: 637px;
  }
  
  .rooms-nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  
  .rooms-nav-item1, .rooms-nav-item2, .rooms-nav-item3 {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    color: #FFFFFF;
    padding: 25px;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.125rem;
    align-items: center;
    align-self: center;
    justify-self: center;
  }
  
  .menu-icon {
    margin-left: 10%;
  }
  
  .rooms-nav-item1 {
    text-align: left;
  }
  
  .rooms-nav-item2 {
    grid-column: 2 / span 3;
  }
  
  .rooms-title-section {
    text-align: right;
    padding-right: 14%;
    margin-top: 10%;
    color: #FFFFFF;
  }
  
  .rooms-title {
    font-family: 'Bree Serif', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 3rem;
  }
  
  .rooms-subtitle {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.625rem;
  }