body {
    font-family: "Poppins";
}
.facilities-wrapper{
    width: 100%;
    height: auto;
}
h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    padding-left: 6.5rem;
}
.img-flex{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    box-sizing: border-box;
}
.image-section{
    width: 311px;
    height: 245px;
}
.img-flex2{
    width: 100%;
    height: auto;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    box-sizing: border-box;
}
.text{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 25rem;
    color: #ffffff;
    padding: 1rem;
}
.first-image{
    background-image:url("../images/chelsea.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.second-image{
    background-image: url("../images/jared.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.third-image{
    background-image: url("../images/colorful.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.fourth-image{
    background-image: url("../images/humphrey.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.fifth-image{
    background-image: url("../images/q.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.sixth-image{
    background-image: url("../images/robert.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 600px) {
    h1{
        padding-left: 1rem;
    }
    .img-flex{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .img-flex2{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .marginTop{
        margin-top: 1rem;
    }

}

@media only screen and (max-width: 1200px) {
    h1{
        padding-left: 1rem;
    }
    .img-flex{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .img-flex2{
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .marginTop{
        margin-top: 1rem;
    }
}