*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

a:hover, a:focus{
	text-decoration: none!important;
	color: black!important;
}

nav{
  background-color: #fdfdfd;
  padding: 10px 50px;
  box-shadow: 0px 0px 5px #00000036;
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav-main{
  display: flex;
  justify-content: space-between;
}

.nav-main a {
  color: #000;
}

.hotel-name{
  padding: 10px 0;
  font-size: 30px;
  font-family: "Playfair Display";
}

ul{
  display: flex;
  list-style: none;
  padding: 15px 0;
  margin: 0!important;
}
.nav-ul li{
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins";
}


@media only screen and (max-width: 768px){
  #menu{
    display: inline-block;
    cursor: pointer;
  }

  .bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #747474;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1{
    transform: rotate(-45deg) translate(-9px,6px);
  }
  .change .bar2{
    opacity: 0;
  }

  .change .bar3{
    transform: rotate(45deg) translate(-8px,-8px);
  }

  .nav-ul{
    display: none;
  }

  .nav-ul li{
    padding: 10px 0;
    display: block;
  }

  .dropdown{
    position: relative;
    display: inline-block;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    right: -50px;
    background-color: #fdfdfd;
    width: 300px;
    overflow: auto;
    z-index: 1;
    text-align: center;
  }
  .dropdown-content li{
    border: 1px solid #fafafa;
    padding: 20px;
  }

  .show{
    display: block;
  }
}


footer{
  padding: 30px 50px;
  display: flex!important;
  background-color: #0a0a0e;
  color: whitesmoke;
  font-size: 18px;
}

footer > div{
  width: 33%;
  margin: 0 20px;
}

footer > div > div > div{
  margin: 10px 0;
}

.footer-title-1, .footer-title-2, .footer-title-3{
  font-size: 30px;
  margin: 10px 0;
}

.icon{
  width: 35px;
}

.icon-instagram{
  content: url("../images/inst1.png");
  padding: 10px;
}

.icon-twitter{
  content: url("../images/tw2.png");
  padding: 10px;
}

.icon-facebook{
  content: url("../images/fb1.png");
  padding: 10px;
}

@media screen and (max-width: 600px) {
  footer{
    flex-direction: column;
  }
  footer > div{
    width: 100%;
    margin: 20px 0;
  }
}
