*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rooms-drawer-container{
	display: flex;
	flex-direction: column;
	display: none;
}
.rooms-drawer{
	background-color:#000000;
	height: .2em;
	width: 2.5em;
	position: relative;
	margin: .3em;
	display: none;
}
.rooms-footerbox2 a{
	color:#bbb;
}

.rooms-header{
	border-bottom: 1px solid silver;
	display: flex;
	justify-content: space-between;
	padding-left: 2.1rem;
	padding-right: 2.1rem;
    line-height: 1.5rem;
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 1;
}
.rooms-logo{
	margin: 1em;
}
.rooms-logo a{
	text-decoration: none;
}
.rooms-logo h2 a{
	color: #000000;
}
.rooms-ul{
	display: flex;
	list-style: none;
	font-weight: bold;
}
.rooms-ul li{
	margin: 1em;
}
.rooms-ul li a{
    color: #000000;
    text-decoration: none;
}

.rooms-footer{
	background-color: #000000;
	color: #FAFAFA;
	display: flex;
	justify-content: space-around;
	padding-top: 3em;
	padding-bottom: 5em;
}
.rooms-footer h1 a{
	color: white;
}
.rooms-footerbox1 img{
	width: 2em;
	margin: .5em;
}
.rooms-footerbox1 img:nth-child(1), img:nth-child(2){
	width: 1.5em;
}
.rooms-footerbox1 img:nth-child(3){
	width: 1.7em;
}

section{
    
    padding: 20px 0;
    height: 600px;
}

body{
    font-family: "Poppins";
}

.page-topic{
    font-weight: 900;
    font-size: 36px;
    padding-left: 50px;
}

.presidential-suite-overview, .executive-suite-overview, .standard-suite-overview{
    padding: 20px 50px;
    display: flex;
    font-family: "Poppins";
}

.presidential-suite-photo{
    content: url("../images/presidential-suite-photo.png");
    width: 60%;
}
.executive-suite-photo{
    content: url("../images/executiveSuites.png");
    width: 60%;
}
.standard-suite-photo{
    content: url("../images/standard-suite-photo.png");
    width: 60%;
}
.presidential-suite-details, .executive-suite-details, .standard-suite-details{
    width: 40%;
    padding: 20px 30px;
    position: relative;
}

.presidential-suite-title, .executive-suite-title, .standard-suite-title{
    max-height: 90px;
    margin: 30px 0;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.presidential-suite-card, .executive-suite-card, .standard-suite-card{
    max-height: 500px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
    padding: 50px;
    font-size: 16px;
    position: absolute;
    left: -50px;
} 

.executive-suite-card{
    right: -50px;
    left: 0px;
}

.presidential-suite-heading, .executive-suite-heading, .standard-suite-heading{
    font-size: 18px;
}

.presidential-suite-spec, .executive-suite-spec, .standard-suite-spec{
    font-weight: 600;
    padding: 20px 0;
}

.presidential-suite-spec-list div, .executive-suite-spec-list div, .standard-suite-spec-list div{
    margin: 10px 0;
}

.icon {
    width: 20px;
}
.icon-leaf{
    content: url("../images/leaf.svg");
}
.icon-dumbbell{
    content: url("../images/dumbbell.svg");
}
.icon-champagne{
    content: url("../images/champagne.svg");
}

.presidential-suite-booking, .executive-suite-booking, .standard-suite-booking{
    padding-top: 20px;
    text-align: center;
}

.book-now{
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: #ffffff;
    background-color: #0f0f0f;
    width: 100%;
}

@media only screen and (max-width: 768px){
    section{
        height: 1100px;
    }
    .presidential-suite-overview, .standard-suite-overview{
        flex-direction: column;
    }
    .executive-suite-overview{
        flex-direction: column-reverse;
    }
    .presidential-suite-overview > div, .executive-suite-overview > div,  .standard-suite-overview > div{
        width: 100%;
    }
    .presidential-suite-details, .executive-suite-details, .standard-suite-details {
        padding: 0;
    }
    .presidential-suite-card, .standard-suite-card{
        left: 0;
    }
    .executive-suite-card{
        right: 0;
    }
}

@media only screen and (max-width: 600px){
    section{
        height: 1100px;
    }
    .presidential-suite-title, .executive-suite-title, .standard-suite-title{
        min-height: 80px;
    }
}

@media only screen and (max-width: 450px){
    section{
        height: 1000px;
    }
}







/* rule for mobile screen with small screens */
 @media all and (min-width: 0px) { 
 	
	.rooms-logo{
		margin-left: 0em;
	}
	.rooms-drawer{
		display: block;
		margin-right: -1em;
	}
	
	.rooms-nav{
		display: none;
	}
	.rooms-ul{
		list-style: none;
		font-weight: bold;
	}
	.rooms-contact{
		display: flex;
		justify-content: space-evenly;
	}
	.rooms-footer{
		display: flex;
		flex-direction: column;
		padding-left: 2em;
	}
	.rooms-footer h1{
		color: whitesmoke;
		margin-bottom: .3em;
	}
	.rooms-footer p{
		color: #bbb;
	}
	.rooms-footerbox1{
		margin: 1em;
		line-height: 3em;	
	}
	.rooms-footerbox2{
		 margin: 1em;
		 line-height: 3em;
	}
	.rooms-footerbox3{
		margin: 1em;
		line-height: 3em;
	}
	.rooms-drawer-container{
		right: 0em;
		margin: 1em;
		display: flex;
		flex-direction: column;
		display: block;
	}
	.rooms-box1{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}   

/* rule for mobile screen with a little wider screen */
 @media all and (min-width:560px){
 	
	 .rooms-logo{
		margin-left: 0em;
	}
	
	.rooms-drawer{
		display: block;
		margin-right: -1em;
	}
	
  }  

 /* ----rule for tablet screen */
 @media all and (min-width: 778px) { 
 	
	.rooms-nav{
		 display: block;
	 }
	  .rooms-drawer{
		display: none;
	}
	.rooms-drawer-container{
	display: flex;
	flex-direction: column;
	display: none;
}
.rooms-drawer{
	background-color:#000000;
	height: .2em;
	width: 2.5em;
	position: relative;
	margin: .3em;
	display: none;
}
.rooms-footer{
		display: flex;
		flex-direction: row;
		padding-left: 2em;
	}
 } 

/* -----rule for laptops with small screen */
 @media all and (min-width: 992px) { 
 	
	 .rooms-nav{
		 display: block;
	 }
	 .rooms-drawer{
		display: none;
	}
 }  

/* ----rule for normal laptop screen */
 @media all and (min-width: 1200px) {
 	
	 .rooms-nav{
		 display: block;
	 }
	  .rooms-drawer{
		display: none;
	}
 }  

/* ---- rule for larger screen and beyond */
 @media all and (min-width: 1600px) {
 	
	 .rooms-nav{
		 display: block;
	 }
	  .rooms-drawer{
		display: none;
	}
	
 }  