/* Header and Footer CSS */
header {
    position: fixed;
    float:left;
    display: block;
    top: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 55px;
    color: #0a0a0e;
    background: #ffffff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.04);
  }
  .logo {
    position: absolute;
    left: 9.21%;
    right: 89.94%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
  }
  .fm {
    margin-top: 10px;
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;  
  }
  .ab {
   
    position: absolute;
    left: 59.2%;
    right: 34.55%;
  }
  .room {
    position: absolute;
    left: 68.75%;
    right: 26.39%;
  }
  .fact {
    position: absolute;
    left: 76.91%;
    right: 16.84%;
  }
  .cont {
    position: absolute;
    left: 86.46%;
    right: 5.73%;
  }
  
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    color: #ffffff;
    width: 100%;
    background-color: #0A0A0E;
    height: 250px;
    text-align: center;
    display: block;
    margin-left: 0;
  }
  .main-content{
    position: relative;
  }
  .topic {
    position: absolute;
    padding: 79px 885px 292px 180px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
    height: 33;
    width: 148;
  }
  
  .rig {
    position: absolute;
    padding: 132px 708px 252px 180px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  
  .icon-link{
    color: white;
  }
  .path1 {
    position: absolute;
    padding: 180.12px 1009.31px 186.03px 180px;
  }
  .path2 {
    position: absolute;
    padding: 182.83px 963.46px 187.53px 205px;
  }
  .path3 {
    position: absolute;
    padding: 180px 928.16px 186.27px 230px;
  }
  .tom {
    position: absolute;
    padding: 70px 466px 307px 678px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
  .about {
    position: absolute;
    padding: 138px 533px 237px 678px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .terms {
    position: absolute;
    padding: 190px 411px 166px 678px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .privacy {
    position: absolute;
    padding: 240px 478px 97px 678px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .right{
    font-family: Montserrat;
    font-style: normal;
  }
  .contact {
    position: absolute;
    padding: 70px 150px 304px 1130px ;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
  .email {
    position: absolute;
    padding: 138px 92px 239px 1130px;
    font-weight: 500;
    font-size: 16px;
  }
  .phn {
    position: absolute;
    padding: 190px 158px 171px 1130px;
    font-weight: 500;
    font-size: 16px;
    
  }
  .address {
    position: absolute;
    padding: 240px 134px 94px 1130px;
    font-weight: 500;
    font-size: 16px;
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="footer"] {
      width: 100%;
    }
  }
  


/* Home page CSS */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
    list-style: none;
    text-decoration: none;
  }

  /* 
  main{
	  display: grid;
	  grid-template-areas: "section-a section-b";
	  grid-template-columns: 40% 60%;
	  height: 100vh;
  }
  .section-a{
	  background-color: #163647;
	  grid-area: section-a;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  padding-top: 20vh;
  }
  .left-section{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
  } */

main {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "header";
    grid-template-columns: 100%;
  }
  #background{
    background: url("./images/landingpage.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: header;
    display: flex;
    flex-direction: column;
  }
  .navbar {
    font-size: 18px;
    background: content-box;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    padding: 10px 3%;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255);
  }
  
  .nav-links:hover, 
  .navbar-toggle:hover,
  .logo:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .nav-links:hover, 
    .navbar-toggle:hover,
    .logo:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }


  
#leftContainer{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    text-align: justify;
    width: 100%;
    height: 55%;
    padding: 0 3.7rem;
}
#idH3 {
    color: #fff;
}
a.explore-btn {
    color: #ffffff;
    margin: 15px 0;
    border: 2px solid rgba(255, 255, 255, 5.36);
    padding: .7rem 3rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
}
a.explore-btn:hover {
    background-color: #ffffff;
    color: #145374;
    text-decoration: none;
    border: 1px solid #145374;
}
footer {
    position: relative;
    width: 97%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-self: flex-end;
    padding-top: 40vh;
}
#row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 8px;
    margin-left: 8px;
    flex: 0 0 8.333333%;
    max-width: 14.333333%;
    background: #fff;
}
.col-1
{
  position: relative;
  width: 100%;
  padding: .5rem 0 .8rem .7rem;
 /*  flex: 0 0 20%;
  max-width: 20%; */
  float: left;
}
.col-1 .content
{
  width: 100%;
  height: 100%;
}
.pRow1 {
    color: #B1B1B1;
    font-family: Poppins;
}
.pRow2 {
    color: #0A0A0E;
    font-family: Poppins;
    font-weight: 600;
}
.dateicon {
    background: url("./images/calendar.svg");
}
  /* nav {
    height: 70px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  nav #brand {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
  }
  nav #menu {
    position: relative;
    display: flex;
    height: 100%;
  }
  nav #menu li {
    padding: 0px 30px;
    cursor: pointer;
    line-height: 70px;
    transition: all 0.3s ease-out;
  }
  nav #menu li:hover {
    background: #333;
  }
  nav #menu li a {
    color: #fff;
  }
  @media (max-width: 768px) {
    nav #menu {
      display: none;
    }
  }
  #hamburger {
    position: absolute;
    right: 10px;
    top: 14px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
  }
  #hamburger .line {
    height: 7px;
    background: #444;
    margin: 5px auto;
    backface-visibility: hidden;
  }
  #hamburger.active #one {
    transform: rotate(45deg) translateX(6px) translateY(6px);
  }
  #hamburger.active #two {
    opacity: 0;
  }
  #hamburger.active #three {
    transform: rotate(-45deg) translateX(10px) translateY(-12px);
  }
  @media (max-width: 768px) {
    #hamburger {
      visibility: visible;
      opacity: 1;
    }
  }
  .mobile-menu {
    z-index: 1;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    display: table;
  }
  .mobile-menu .mobile-menu__items {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
  }
  .mobile-menu .mobile-menu__items li {
    display: block;
    padding: 20px 0;
    text-align: center;
    font-size: 35px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .mobile-menu .mobile-menu__items li:hover {
    color: #fff;
    background: #212121;
  }
  .mobile-menu .mobile-menu__items li:hover a {
    transition: all 0.3s ease-out;
    color: #fff;
  }
  .mobile-menu .mobile-menu__items li a {
    color: #212121;
  }
  .mobile-menu.active {
    visibility: visible;
    opacity: 0.99;
  }
  @media (min-width: 768px) {
    .mobile-menu {
      visibility: hidden !important;
    }
  } */

/* Executive-suite-CSS */
.executiveTitle{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    /*width: 251px;*/
    height: 48px;
    /*left: 151px;*/
    /*top: 925px;*/
    /*margin-right:5%;*/
    text-align: center;
    margin-top: 50px;
}
.executiveLeft{
    float: none;
    display: inline-block;
    position: absolute;
    margin-left: 89px;
    z-index: 2;

}
.executivePic{
    float: right;
    z-index: -1;
}
.executiveContainer{
    /*margin: 0 61px;*/
    width: auto;
    height: 800px;
    display: flex;
    /*justify-content: center;*/
    margin: 0 auto;
}
.executivePic{
    background-image: url("asset/executiveSuites.png");
    background-size: cover;
    background-repeat: no-repeat;
    /*float: right;*/
    /*position: relative;*/
    width: 596px;
    height: 457px;
    /*control pic position*/
    margin-left: 489px;
    /*left: 489px;*/
    /*top: 878px;*/
    /*padding: 35px;*/
}
.executiveCard{
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
    width: 380px;
    height: 350px;
    margin-top: 20px;
    padding: 15px 35px;
    background-color: white;
}
.executiveDes{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.executiveContent{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    margin-left: 38px;

}
.executiveSubTitle{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-top: 17px;

}
.executiveBtn{
    color: white;
    background-color: black;
    border-radius: 8px;
    margin-top: 45px;
    width: 380px;
    height: 46px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-color: transparent;
}
.executiveCard-spa{
    background-image: url("asset/executiveSuites-spa.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 41px;
    transform: scale(0.5);
    position: absolute;
}
.executiveCard-cham{
    background-image: url("asset/executiveSuites-champagne.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 39px;
    height: 41px;
    transform: scale(0.5);
    position: absolute;
}

.executiveCard-gym{
    background-image: url("asset/executiveSuites-gym.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 39px;
    height: 41px;
    transform: scale(0.5);
    position: absolute;
}



/* Facilities CSS */
.facilities-wrapper{
    width: 100%;
    height: auto;
}
h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    padding-left: 6.5rem;
}
.img-flex{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    box-sizing: border-box;
}
.image-section{
    width: 311px;
    height: 245px;
}
.img-flex2{
    width: 100%;
    height: auto;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    box-sizing: border-box;
}
.text{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 25rem;
    color: #ffffff;
    padding: 1rem;
}
.first-image{
    background-image:url(./facilities-img/chelsea.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.second-image{
    background-image: url(./facilities-img/jared.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.third-image{
    background-image: url(./facilities-img/colorful.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.fourth-image{
    background-image: url(./facilities-img/humphrey.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.fifth-image{
    background-image: url(./facilities-img/q.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sixth-image{
    background-image: url(./facilities-img/robert.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Media Quaries for Facilities */
@media only screen and (max-width: 600px) {
    h1{
        padding-left: 1rem;
    }
    .img-flex{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .img-flex2{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .marginTop{
        margin-top: 1rem;
    }

}
@media only screen and (max-width: 1200px) {
    h1{
        padding-left: 1rem;
    }
    .img-flex{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .img-flex2{
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .marginTop{
        margin-top: 1rem;
    }
}


/* Contact-Us CSS */

*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	text-decoration: none;
}
.contact-us-drawer-container{
	display: flex;
	flex-direction: column;
	display: none;
}
.contact-us-drawer{
	background-color:#000000;
	height: .2em;
	width: 2.5em;
	position: relative;
	margin: .3em;
	display: none;
}
.contact-us-footerbox2 a{
	color:#bbb;
}

.contact-us-header{
	border-bottom: 1px solid silver;
	display: flex;
	justify-content: space-between;
	padding-left: 2rem;
	padding-right: 2rem;
	line-height: 1.5rem;
}
.contact-us-logo{
	margin: 1em;
}
.contact-us-logo h2 a{
	color: #000000;
}
.contact-us-ul{
	display: flex;
	list-style: none;
	font-weight: bold;
}
.contact-us-ul li{
	margin: 1em;
}
.contact-us-ul li a{
	color: #000000;
}
.contact-us-body{
	margin: 3rem;
	display: flex;
	justify-content: space-between;
}
.contact-us-box1{
	width: 100%;
	margin: 1rem;
}
.contact-us-contact{
	display: flex;
	margin-top: 5em;
}
.contact-us-address{
	margin-right:2em;
}

.contact-us-box2{
	width: 100%;
	margin: 1rem;
	border-radius: 3px;
	padding: 1.5em;
	-webkit-box-shadow: 1px 1px 8px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 8px 0px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 8px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

.contact-us-input{
	width: 100%;
}
.contact-us-input input, .contact-us-textarea{
	border: 1px solid silver;
	border-radius: 3px;
	padding: .8em .8em .8em 1em;
	margin-top: 1.5em;
	width: 100%;
}
.contact-us-textarea{
	height: 10em;
}
.contact-us-submit button{
	width: 100%;
	background-color: #000000;
	border-radius: 3px;
	color: #FFFFFF;
	border: 0;
	padding: 1em;
	margin-top: 1.5em;
}
.contact-us-footer{
	background-color: #000000;
	color: #FAFAFA;
	display: flex;
	justify-content: space-around;
	padding-top: 3em;
	padding-bottom: 5em;
}
.contact-us-footer h1 a{
	color: white;
}
.contact-us-footerbox1 img{
	width: 2em;
	margin: .5em;
}
.contact-us-footerbox1 img:nth-child(1), img:nth-child(2){
	width: 1.5em;
}
.contact-us-footerbox1 img:nth-child(3){
	width: 1.7em;
}

/* rule for mobile screen with small screens */
 @media all and (min-width: 0px) { 
 	
	.contact-us-logo{
		margin-left: 0em;
	}
	.contact-us-drawer{
		display: block;
		margin-right: -1em;
	}
	
	.contact-us-body{
		margin: 1rem;
		/* padding: 0; */
		width: 85%;
		display: flex;
		flex-direction: column;
	}
	.contact-us-nav{
		display: none;
	}
	.contact-us-ul{
		list-style: none;
		font-weight: bold;
	}
	.contact-us-contact{
		display: flex;
		justify-content: space-evenly;
	}
	.contact-us-footer{
		display: flex;
		flex-direction: column;
		padding-left: 2em;
	}
	.contact-us-footer h1{
		color: whitesmoke;
		margin-bottom: .3em;
	}
	.contact-us-footer p{
		color: #bbb;
	}
	.contact-us-footerbox1{
		margin: 1em;
		line-height: 3em;	
	}
	.contact-us-footerbox2{
		 margin: 1em;
		 line-height: 3em;
	}
	.contact-us-footerbox3{
		margin: 1em;
		line-height: 3em;
	}
	.contact-us-drawer-container{
		right: 0em;
		margin: 1em;
		display: flex;
		flex-direction: column;
		display: block;
	}
	.contact-us-box1{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}   

/* rule for mobile screen with a little wider screen */
 @media all and (min-width:560px){
 	
	 .contact-us-logo{
		margin-left: 0em;
	}
	.contact-us-body{
		margin: 1rem;
		/* padding: 0; */
		width: 85%;
		display: flex;
		flex-direction: column;
	}
	.contact-us-drawer{
		display: block;
		margin-right: -1em;
	}
	
  }  

 /* ----rule for tablet screen */
 @media all and (min-width: 778px) { 
 	
	.contact-us-body{
		margin: 1rem;
		/* padding: 0; */
		width: 95%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.contact-us-nav{
		 display: block;
	 }
	  .contact-us-drawer{
		display: none;
	}
	.contact-us-drawer-container{
	display: flex;
	flex-direction: column;
	display: none;
}
.contact-us-drawer{
	background-color:#000000;
	height: .2em;
	width: 2.5em;
	position: relative;
	margin: .3em;
	display: none;
}
.contact-us-footer{
		display: flex;
		flex-direction: row;
		padding-left: 2em;
	}
 } 

/* -----rule for laptops with small screen */
 @media all and (min-width: 992px) { 
 	
	 .contact-us-nav{
		 display: block;
	 }
	 .contact-us-drawer{
		display: none;
	}
 }  

/* ----rule for normal laptop screen */
 @media all and (min-width: 1200px) {
 	
	 .contact-us-nav{
		 display: block;
	 }
	  .contact-us-drawer{
		display: none;
	}
 }  

/* ---- rule for larger screen and beyond */
 @media all and (min-width: 1600px) {
 	
	 .contact-us-nav{
		 display: block;
	 }
	  .contact-us-drawer{
		display: none;
	}
 }  
