@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Sans&display=swap');
ul li {
    list-style-type: none;
    font-size: 24px;
    font-family: DM Sans;
    font-weight: 500;
}
ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 0;
}
body{
    margin: 0;
    padding: 0;
}
span.menu-icon {
    margin-left: 10px;
    position: absolute;
}
.header {
    margin-bottom: 150px;
    padding-top: 30px;
    color: white;
    text-shadow: black;
}
.world-class-facilities{
    text-align: right;
    font-size: 30px;
    font-family: bree serif;
    color: white;
    padding-right: 200px;
}
p{
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: DM Sans;
}
#banner {
    background-repeat: no-repeat;
    background-image: url(banner3.jpg);
    background-size: cover
}
h1 {
    font-weight: 500;
}