* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fhp-mainContainer {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 10% 10% 10% 20% 10% 20%; */
}

/* .frrp-mainContainer section{ */
    /* background-color: white; */
/* } */
/*  */
/* .frrp-mainContainer section:nth-child(1){ */
    /* margin-bottom: 800px; */
/* } */
/*  */
/* .frrp-mainContainer section:nth-child(3){ */
    /* margin-top: -700px; */
/* } */
