* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ffp-mainContainer {
    background-color: black;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 30%;
}

.ffp-mainContainer section{
    background-color: white;
}
