/* THIS IS RESPONSIVE */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
 :root{
    /* font-size: 0.75em;  */
 }
 
 footer{
   color: #ffffff;
   font-family: sans-serif;
}
    
.footer-middle-section a{
    text-decoration: none;
}

.footer-middle-section ul{
     list-style: none
}

.footer-up-section{
    background: #130413;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4em;
    padding: 5% 12%;
}

.footer-up-section ul li a{
    color: #FFFFFF;
    }
    
    .footer-button{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin-right: 13em;
    margin-top: 1.5em;
    }
    .footer-button, input[type="email"] {
      height: 35px;
      width: 500px;
      padding-left: 10px;
      font-size: 1.3rem;
    }
    
    .footer-button button{
        position: absolute;
        float: right;
        right: -80px;
        height: 35px;
        width: 120px;
        border: 1px solid #611760;
        border-radius: 6px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        background-color: #611760;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        text-transform: capitalize;
    }


.text{
    line-height: 5em;
}

.text-2{
    line-height: 0.1em;
}

.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1em;

}

.footer-middle-section{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 1em;

} 

.footer-down-section{
background: #FFFFFF;
display: flex;
justify-content: space-around;
color: #333333;
font-size: 1.5rem;
margin: 1em 0;

}


@media(max-width: 720px){
    .footer-middle-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: -150px;
    }

    .footer-middle-section, .footer-down-section, .footer-up-section{
        font-size: 1.2rem;
    }

    .footer-button{
    margin: auto;
    flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .footer-up-section ul li{
        text-align: center;
    }
    
    .text{
        line-height: 4em;
    }
    
    .text-1{
        line-height: 1.5em;
    }

     .text-2{
        line-height: 1.5em;
    }

    .footer-button, input[type="email"] {
        height: 35px;
        width: 250px;
        font-size: 1rem;
      }
      
    .footer-button button{
           position: absolute;
          float: right;
          right: -5px; 
          height: 35.6px;
          width: 70px;
          font-size: 1.2rem;
      }
    
      .footer-top{
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .footer-down-section{
          justify-content: space-around;
      }
}


@media only screen and (max-width: 900px) {

    * {
        overflow-x: hidden;
    }

    .footer-middle-section ul:nth-child(1) li:nth-child(3) {
        line-height: 20px;
    }

    .footer-middle-section ul:nth-child(4) {
        display: flex;
        justify-content: space-around;
        width: 500px;
        margin-top: 40px;
        margin-left: 40px;
    }

    .footer-middle-section {
        padding: 10px;
        font-size: 12px;
    }

    .footer-down-section {
        height: 70px;
        background-color: whitesmoke;
        margin-top: 0;
        display: flex;
        align-items: center;
    }

    .footer-button button{
       width: 120px;
        right: -5px;
        height: 35px;
        width: 120px;
        border: 1px solid #611760;
        border-radius: 12px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-size: 1rem;
    }
}

      
@media only screen and (max-width: 400px) {
.footer-middle-section ul:nth-child(4) {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-top: 40px;
    margin-left: 20px;
}

.footer-middle-section ul:nth-child(2) {
    display: flex;
    justify-content: center;
    width: 70px;
}

.footer-middle-section ul li {
    font-size: 15px;
}

.footer-middle-section ul {
    margin-bottom: 20px;
}

.footer-down-section{
    font-size: 10px;
}

.footer-middle-section{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    font-size: 10px;
}

.footer-button button{
    right: -10px;
    height: 35px;
    width: 120px;
    border: 1px solid #611760;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 1rem;
}
}