/* THIS IS RESPONSIVE */
* {
  margin: 0;
  padding: 0;
  /* border: 0; */
  /* font-size: 100%; */
  /* font: inherit; */
  /* vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  /* display: block; */
}

.facilities-list ol,
ul {
  list-style: none;
}

/* blockquote, */
/* q { */
  /* quotes: none; */
/* } */
/*  */
/* blockquote:before, */
/* blockquote:after, */
/* q:before, */
/* q:after { */
  /* content: ""; */
  /* content: none; */
/* } */
/*  */
/* table { */
  /* border-collapse: collapse; */
  /* border-spacing: 0; */
/* } */

/* Above section was added to maintain my sanity. I hope there'd a general CSS for this project like this one...*/
/** Overwriting some element defaults **/

.facilities-list a {
  color: black;
  text-decoration: none;
}

/** Other rules **/
.facilities-page-container {
  background: #f5f5f5;
}

.facilities-page-container .facilities-page-container-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
}

.facilities-list-container {
  background: #ffffff;
  padding: 40px;
  margin-bottom: 70px;
}

.facilities-list-container h1 {
  color: #000000;
  font-size: calc(1.425rem + 2.1vw);
  min-width: 0vw;
  font-family: Georgia, "Bree Serif", Serif;
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .facilities-list-container h1 {
    font-size: 3rem;
  }
}

.facilities-list-container .facilities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.facilities-list-container .facilities-list ol {
  margin-right: 40px;
}

@media (min-width: 900px) {
  .facilities-list-container .facilities-list ol {
    margin-left: 40px;
  }
}

.facilities-list-container .facilities-list ol li {
  margin-bottom: 30px;
}

.facilities-list-container .facilities-list ol li a {
  font-size: calc(1.275rem + 0.3vw);
  min-width: 0vw;
  font-family: "'DM Sans', Arial, sans-serif";
}

@media (min-width: 1200px) {
  .facilities-list-container .facilities-list ol li a {
    font-size: 1.5rem;
  }
}

.facilities-list-container .facilities-list ol li a:hover {
  color: #611760;
}

.facilities-highlights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 1200px;
  margin-bottom: 100px;
}

@media (max-width: 900px) {
  .facilities-highlights {
    display: block;
    max-height: 100%;
  }
}

@media (max-width: 1040px) {
  .facilities-highlights {
    padding: 0 20px;
  }
}

.facilities-item {
  position: relative;
  width: calc(45% - 40px);
  margin: 0 0 80px 0;
}

@media (max-width: 900px) {
  .facilities-item {
    width: 100%;
    max-height: 400px;
    margin: 0;
    margin-bottom: 30px;
  }
}

.facilities-item > img {
  width: 100%;
}

@media (max-width: 900px) {
  .facilities-item > img {
    max-height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.facilities-item.longer-width {
  width: calc(55% - 40px);
  margin: 0 80px 80px 0;
}

@media (max-width: 900px) {
  .facilities-item.longer-width {
    width: 100%;
    max-height: 400px;
    margin: 0;
    margin-bottom: 30px;
  }
}

.facilities-item.longer-width .label {
  left: 15px;
}

.facilities-item .label {
  display: block;
  position: absolute;
  bottom: 15px;
  right: -15px;
  background: #611760;
  color: white;
  font-family: "'DM Sans', Arial, sans-serif";
  width: 60%;
  padding: 20px;
  font-size: calc(1.275rem + 0.3vw);
  min-width: 0vw;
}

@media (min-width: 1200px) {
  .facilities-item .label {
    font-size: 1.5rem;
  }
}

.facilities-item .label img {
  float: right;
}

.facilities-video-section {
  margin-bottom: 100px;
}

.facilities-video-section h3 {
  font-size: 2.25em;
  font-family: "'DM Sans', Arial, sans-serif";
  text-align: center;
  margin-bottom: 40px;
}

.facilities-video-section .facilities-video-container {
  width: 100%;
  position: relative;
}

.facilities-video-section .facilities-video-container video {
  width: 100%;
}

.facilities-video-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .facilities-video-overlay {
    padding: 7px;
  }
}

.facilities-video-overlay .overlay-border {
  border: 15px solid #fff;
  width: 100%;
  height: calc(100% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .facilities-video-overlay .overlay-border {
    border: 7px solid #fff;
    height: calc(100% - 14px);
  }

  .facilities-list-container h1 {
    margin-left: 140px;
  }

  .facilities-list-container .facilities-list {
    margin-left: 190px;
  }

  .facilities-list-container .facilities-list ol {
    margin-bottom: 25px;
    background-color: #f5f5f5;
    padding: 30px;
  }

  .facilities-list-container .facilities-list ol:nth-child(3) {
    width: 235px;
  }
}

.facilities-video-overlay .overlay-border h2 {
  font-family: "'DM Sans', Arial, sans-serif";
  font-size: 4em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
  padding: 0 20px;
}

@media (max-width: 900px) {
  .facilities-video-overlay .overlay-border h2 {
    margin-bottom: 15px;
    font-size: 3em;
  }
}

.facilities-video-overlay .overlay-border img {
  cursor: pointer;
}

@media (max-width: 900px) {
  .facilities-video-overlay .overlay-border img {
    width: 45px;
    height: 45px;
  }
}

.facilities-hidden {
  opacity: 0;
  display: none;
  -webkit-transition: opacity all 2s ease-in;
  transition: opacity all 2s ease-in;
}


@media only screen and (max-width: 400px) {
* {
  /* display: none; */
}

.facilities-list-container h1 {
  margin-left: -10px;
  width: 400px;
}

.facilities-list-container .facilities-list {
  margin-left: 40px;
}

.facilities-list-container .facilities-list ol {
  margin-bottom: 25px;
  background-color: #f5f5f5;
  padding: 30px;
  width: 400px;
}

.facilities-list-container .facilities-list ol:nth-child(3) {
  width: 180px;
}
}