body{
	margin:0px;
	padding:0px;
	background: #FFFFFF;
}

h2{
	text-align:center;
	font-family: GillSans;
    font-size: 33px;
    line-height: 39px;
    letter-spacing: -0.186728px;
	padding-top:50px;
	padding-bottom:10px;
}

.rectangular1{
	width:100%;
	height:802px;
	background-color:rgba(0, 0, 0, 0.5);
	
}

@media(max-width:800px){
	.rectangular1{
	  width:100%;
	  height:500px;
	  background-color:rgba(0, 0, 0, 0.5);
    }
}

@media(max-width:700px){
	.rectangular1{
	  width:100%;
	  height:300px;
	  background-color:rgba(0, 0, 0, 0.5);
	  margin-bottom:30px;
    }
}

.rectangles{
	width:30%;
	height:341px;
	padding:15px 10px;
}

.rectangles:hover{
	opacity:0.5;
}

@media(max-width:1250px){
	.rectangles{
	  width:300px;
	  height:300px;
	  padding:15px 10px;
    }
}

@media(max-width:770px){
	.rectangles{
	  width:200px;
	  height:250px;
    }
}

@media(max-width:700px){
	.rectangles{
	  width:80%;
	  margin:auto 15%;
	  height:300px;
    }
}


@media(max-width:500px){
	.rectangles{
	  width:85%;
	  height:200px;
    }
}

.features{
	display:flex;
	align-items:center;
	justify-content:center;
	margin: 10px auto 50px auto;
}

@media(max-width:500px){
	.features{
	   display:flex;
	   flex-direction:column;
	   align-items:center;
	   justify-content:center;
    }
}

.featureImg{
	width: 108px;
    height: 60px;
	padding:20px 50px 50px 50px;
}

.review{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-bottom:70px;
	overflow-x:auto;
}

.review::-webkit-scrollbar {
  display: none;
}

@media(max-width:700px){
	.review{
	  display:flex;
	  flex-direction:column;
	  align-items:center;
	  justify-content:center;
    }
}

.reviewImg{
	width: 130px;
    height: 171px;
	padding-right:0;
}

@media(max-width:400px){
	.reviewImg{
	  width: 120px;
      height: 150px;
    }
}
.reviewContent{
	margin:0;
	background: #F2F2F2;
	padding-left:20px;
	padding-top:40px;
	width:135px;
}

@media(max-width:400px){
	.reviewContent{
	  background: #F2F2F2;
	  padding-left:20px;
	  padding-top:40px;
	  width:120px;
    }
}

.reviewRow{
	display:flex;
	margin:25px;
}

.row{
	display:flex;
	margin-left:5%;
	margin-bottom:30px;
}

@media(max-width:700px){
   .row{
	  display:flex;
	  flex-direction:column;
	  align-items:center;
	  justify-content:center;
	  margin:10px;
    }
}

.column{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	margin:25px auto 50px auto;
}