@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafbfc;
  font-family: "DM Sans", sans-serif;
}
@media only screen and (max-width: 529px) {
  body {
    padding: 30px 30px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 687px) {
  body {
    padding: 40px 60px;
  }
}
@media only screen and (min-width: 688px) and (max-width: 949px) {
  body {
    padding: 50px 120px;
  }
}
@media only screen and (min-width: 949px) {
  body {
    padding: 70px 160px;
  }
}
h1,
h2,
h3,
p {
  color: #191e51;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}
h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;

  color: rgba(25, 30, 81, 0.7);
}
p {
  color: rgba(25, 30, 81, 0.7);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: justify;
}

.facilityview-main {
  display: flex;
  flex-direction: column;
}
.facilityview-header {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 687px) {
  .facilityview-header {
    flex-direction: column;
    margin-top: 25px;
  }
}
.facilityview-header a {
  text-decoration: none;
  color: #f13054;
}
.facilityview-maincontent {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 949px) {
  .facilityview-maincontent {
    flex-direction: column;
  }
}
.facilityview-details {
  width: 60%;
}
@media only screen and (max-width: 949px) {
  .facilityview-details {
    width: 100%;
  }
}
.facilityview-details-img-div {
  background-color: #ffffff;
  padding: 10px;
}
.facilityview-details-img-div img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.facilityview-details-description-headings {
  margin-top: 18px;
  margin-bottom: 24px;
  width: 40%;
}
.facilityview-item-ratings .checked {
  color: orange;
}
.facilityview-item-ratings-attrib {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(25, 30, 81, 0.7);
}
.facilityview-description {
  margin-bottom: 40px;
}
.facilityview-description h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba(25, 30, 81, 0.75);
}

.facilityview-reviews {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.facilityview-reviewbox-wrapper {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 828px) and (max-width: 949px) {
  .facilityview-reviewbox-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 949px) {
  .facilityview-reviews {
    width: 100%;
  }
}
.facilityview-reviewbox {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #d8d8df;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(65, 82, 118, 0.04);
  border-radius: 6px;
  margin: 10px auto 10px auto;
}
@media only screen and (min-width: 828px) and (max-width: 949px) {
  .facilityview-reviewbox {
    width: 47%;
  }
}

.facilityview-reviewbox-toprow {
  display: flex;
  margin-bottom: 20px;
}
.facilityview-reviewbox-toprow-imagediv {
  height: 47px;
  width: 47px;
  margin-right: 12px;
}
.facilityview-reviewbox-toprow-imagediv div {
  height: 100%;
  width: 100%;
  background-position: center center !important;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-size: cover;
}
.facilityview-reviewbox-toprow-imagediv-jane {
  background-image: url(../facilities-assets/janecooper.png);
}
.facilityview-reviewbox-toprow-imagediv-cameron {
  background-image: url(../facilities-assets/cameron.png);
}
.facilityview-reviewbox-toprow-imagediv-leslie {
  background-image: url(../facilities-assets/leslie.png);
}
.facilityview-reviewbox-toprow-imagediv-devon {
  background-image: url(../facilities-assets/devon.png);
}
