*{
	font-family: 'montserrat', sans-serif;
	margin: 0;
	padding: 0;
}
/*===Reviews===*/
.reviews{
	padding: 40px 0;
	background: #fff;
	color: #434343;
	text-align: center;
}
.reviews-header{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 20px 20px 10px 20px;
}
.reviews-header h1{
	font-weight: 400;
	color: #000000;
	font-size: 33px;
}
.reviews-row{

}
.review-row-col{
	
}
.review{
	display: flex;
	background: #fff;
	padding: 20px;
}
.review img{

}
.review p{
	font-size: 17px;
	
}
.review .name{
	font-size: 20px;
	padding: 20% 0 5px 0;
	/*text-align: center; */
}
.review .star{
	color: #000000;
	font-size: 8px;
}
.review .col2{
	background-color: #EEEEEE;

}
.review .col2 .content{
	margin-left: 10%;
	padding: 0 15px;
	text-align: left;
	line-height: 19px;
	font-weight: 200;
}
.reviews-row .owl-dots{
	text-align: center;
}

.reviews-row .owl-dot{
	display: inline-block;
	height: 8px !important;
	width: 8px !important;
	background-color: #D8D8D8 !important;
	opacity: 0.8;
	border-radius: 50%;
	margin: 50px 5px 0; 
}
.reviews-row .owl-dot.active{
	background-color: #FD3D65 !important;
}
/*responsive css*/
@media only screen and (max-width: 600px) {
 .review{
		flex: 100%;
		max-width: 100%;
	}
}
 .review img{
    height: 160px;
}
/*===Reviews Ends===*/



 
/*@media only screen and (max-width: 960px) {
 .col{
		flex: 100%;
		max-width: 80%;

	}
}




/*===Featured===*/
.featured{
	padding: 20px 0;
	background: #fff;
	color: #434343;
	text-align: center;
}
.featured-header {
   max-width: 1200px;
   margin: auto;
   overflow: hidden;
   margin-bottom: 34px;
  
}
.featured-header h1{
	font-size: 33px;
	font-weight: 400;
	color: #000000;

}
.featured-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 20%;
}
.featured-col{
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 5px;
}
@media only screen and (max-width: 600px) {
 .featured-col{
	flex: 100%;
	max-width: 100%;
	box-sizing: border-box;

	}
}


/*===Featured Ends===*/

