body {
    background-color: #f5f5f5;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}
.headerBG-image {
    position: absolute;
    background-image: url("images/background.png");
    width: 100%;
    height: 900px;
    overflow: hidden;
}
.headerContent {
    position: relative;
    background-color: rgba(255, 160, 59, 0.9);
    width: 100%;
    height: 900px;
    opacity: 10;
}
.nav {
    position: relative;
    width: 100%;
    height: 19%;
    padding: 0px;
    margin-top: 0px;
}
.H-Txt1 {
    height: 50px;
    width: 80px;
    margin: 20px 20px 20px 70px;
    text-align: center;
    float: left;
    color: #ffffff;
}
.H-Txt2 {
    height: 50px;
    width: 150px;
    margin: 25px 100px 25px 25px;
    text-align: center;
    float: right;
    top: 50px;
    color: #ffffff;
}
.menu-icon {
    position: relative;
    bottom: 40px;
    float: right;
    right: 10px;
}
.H-Txt3 {
    height: 50px;
    width: 60px;
    margin: 25px 25px 25px 400px;
    text-align: center;
    color: #ffffff;
    float: left;
}
.logo {
    position: absolute;
    width: 350px;
    height: 300px;
    top: 180px;
    left: 220px;
    margin: 0px;
    padding: 0px;
}
.header-paragraph {
    position: absolute;
    top: 250px;
    right: 250px;
    color: #ffffff;
    float: right;
}
#tour-video {
    position: absolute;
    width: 70%;
    height: 500px;
    top: 580px;
    left: 200px;
    overflow: hidden;
    background-image: url("images/resort.png");
}
#resortImage-border {
    position: relative;
    width: 90%;
    height: 410px;
    margin: 30px;
    border: 16px solid #ffffff;
}
#resortTour-text {
    position: relative;
    width: 50%;
    height: 150px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    font-size: 64px;
    text-align: center;
    line-height: 64px;
    left: 200px;
    top: 50px;
}
#play-vector {
    position: relative;
    width: 30%;
    height: 120px;
    left: 150px;
}

/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/

@media (min-width: 992px) and (max-width: 1200px) {
    .H-Txt3 {
        margin: 25px 25px 25px 250px;
    }
    .logo {
        left: 150px;
    }
    .header-paragraph {
        right: 150px;
        font-size: 14px;
    }
    #tour-video {
        left: 150px;
        overflow: hidden;
        text-align: center;
    }
    #resortImage-border {
        margin: 10px;
        width: 80%;
        left: 45px;
        top: 20px;
    }
    #resortTour-text {
        font-size: 50px;
        width: 70%;
        left: 70px;
    }
    #play-vector {
        left: 150px;
    }
}

/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .H-Txt3 {
        margin: 25px 25px 25px 250px;
    }
    .logo {
        left: 100px;
    }
    .header-paragraph {
        right: 150px;
        font-size: 14px;
    }
    #tour-video {
        left: 150px;
        overflow: hidden;
        text-align: center;
    }
    #resortImage-border {
        margin: 15px;
        width: 80%;
        left: 45px;
        top: 20px;
    }
    #resortTour-text {
        font-size: 45px;
        width: 70%;
        left: 68px;
    }
    #play-vector {
        left: 95px;
    }
}

/*----------------------------------
    MOBILE LAYOUT: 320px
-----------------------------------*/

@media only screen and (max-width: 767px) {
    .H-Txt2 {
        margin: 18px 10px 25px 5px;

        padding: 0px;
    }
    .H-Txt1 {
        margin: 15px 25px 25px 10px;

        padding: 0px;
    }
    .H-Txt3 {
        position: absolute;
        margin: 18px 25px 25px 150px;
        padding: 0px;
    }
    .logo {
        left: 15px;
    }
    .header-paragraph {
        right: 40px;
        font-size: 14px;
        top: 55%;
    }
    #tour-video {
        left: 57px;
        overflow: hidden;
        text-align: center;
        top: 70%;
    }
    #resortImage-border {
        margin: 2px;
        width: 80%;
        height: 440px;
        left: 12px;
        top: 15px;
        border: 13px solid #ffffff;
    }
    #resortTour-text {
        font-size: 45px;
        width: 70%;
        left: 35px;
    }
    #play-vector {
        left: 15px;
    }
}
