body{
    background-color:#F5F5F5;
    width: 100%;
}
.header{
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 0px;
}
.H-Txt1{
    width: 100px;
    height: 55px;
    margin-left: 160px;
    margin-top: 30px;
    float: left; 
    padding-top: 0px;
    text-align: center;
    color: #FFFFFF; 
}
.H-Txt2{
    width: 200px;
    height: 50px;
    margin-right: 195px;
    margin-top: 41px;
    float: right;
    text-align: center; 
    color: #FFFFFF; 
}
.H-Txt3{
    float: right; 
    width: 100px;
    height: 40px;
    margin-right: 320px;
    margin-top: 41px;
    text-align: center;
    color: #FFFFFF;
}
.menu-icon{
    position: relative;
    bottom: 40px;
    float: right;
    right: 30px;
}

.headerContent{
    position: absolute;
    width: 1440px;
    height: 1000px;
    left: 0px;
    top: 0px;
    background: rgba(255, 160, 59, 0.9);
}
.logo{
    position: absolute;
    width: 357px;
    height: 300px;
    left: 288px;
    top: 224px;
}
.header-paragraph{
    position: absolute;
    width: 422px;
    height: 170px;
    left: 730px;
    top: 289px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
 }
 #tour-video{
    position: absolute;
    width: 1040px;
    height: 585px;
    left: 200px;
    top: 628px;
    background-image: url("images/resort.png");
 }
 #resortImage-border{
    position: absolute;
    width: 930px;
    height: 400px;
    margin: 40px;
    border: 16px solid #FFFFFF;
    padding-top: 80px;
 }
 #resortTour-text{
    width: 930px;
    height: 400px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 64px;
 }
 #play-vector{
    width: 120px;
    height: 120px;
    float: right;
    right: 60px;
    top: 948px;
    margin-right: 400px;
 }


