.item1 { 
    grid-area: header;
    margin-left: -95px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/image1.png");
    width: 100%;
}
.item2 { 
    grid-area: menu;
    padding: 10px 80px 10px 20px;
    margin: 0px;
    background-color:#F5F5F5;
    width: 60%;
    height: fit-content; 
    margin-left: 90px;
 }
.item3 { 
    grid-area: main;
    margin-left: -95px;
    background-image: url("images/image4.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
 }
.item4 { 
    grid-area: right;
    padding-left: 30px;
    background-image: url("images/image2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin-left: 90px;
    margin-top: -160px;
   
 }
.item5 { grid-area: footer; 
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/image3.png");
    margin-left: -140px;
    width: 120%;
}

/* STYLE GRID LAYOUT; */

.grid-container {
  display: grid;
  grid-template-areas:
    'menu menu header header header header'
    'menu menu header header header header'
    'right right main main footer footer'
    'right right main main footer footer';
  grid-gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  height: 100vh;
  width: 100%;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
}

.p-2{
    padding: 0px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin: 0px;
}
.p-1{
    font-size: 40px;
    padding: 0px;
    font-family: sans-serif;
    margin: 0px;
    font-style: normal;
    font-weight: bold;
   
   
}
.discover-btn{
    background-color: #611760;
    height: 60px;
    width: 75%;
    margin: 0px;
    padding-left: 0px;
    
}
.btn-txt{
    color: #ffffff;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 25px;
    font-family: sans-serif;
}



/*----------------------------------
    LARGE LAYOUT: 320px
-----------------------------------*/

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .item2 { grid-area: menu;
        height: 500px;
    }
    .item4 { 
        grid-area: right;
        width: 70%;
        margin-top: -220px;
    }
}
.discover-btn{
    height: 70px;
    width: 85%;
    top: 30px;
}
.btn-txt{
    padding-top: 15px;
    font-size: 35px;
}
.p-2{
    padding-top: 40px;
    font-size: 18px;
    padding-bottom: 40px;
}
.item1 { 
    grid-area: header;
    margin-left: -95px;
    width: 102%;
}
    /*----------------------------------
    MEDIUM LAYOUT: 320px
-----------------------------------*/
   
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .item1 { 
        grid-area: header;
        margin-left: -95px;
        margin-bottom: 20px;
        width: 100%;
    }
    .item2 { grid-area: menu;
        height: 500px;
        width: 50%;
        margin-left: 40px;
    }
    .p-2{
        padding-top: 40px;
        font-size: 19px;
        padding-bottom: 50px;
        width: 120%;
    }
    .discover-btn{
        width: 120%;
    }
    .item4 { 
        grid-area: right;
        width: 70%;
        margin-top: -360px;
        margin-left: 40px;
    }
    .item5 { grid-area: footer; 
        padding: 0px;
        margin-left: -127px;
    }
    .item3 { 
        grid-area: main;
        margin-right: 10px;
     }
}

/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .item4 { 
        grid-area: right;
        width: 60%;
        margin-top: -240px;
        margin-left: 40px;
    }
    .item2 { grid-area: menu;
        height: 450px;
        width: 50%;
        margin-left: 40px;
    }
    .item1 { 
        grid-area: header;
        margin-left: -120px;
        width: 130%;
    }
    .item5 { grid-area: footer; 
        padding: 0px;
        margin-left: -110px;
        width: 152%;
    }
    .item3 { 
        grid-area: main;
        margin-left: -120px;
        width: 100%;
     }
     .item2 { grid-area: menu;
        height: 500px;
        width: 50%;
        margin-left: 20px;
    }
    .p-2{
        padding-bottom: 20px;
        font-size: 16px;
    }
    .discover-btn{
        width: 120%;
        margin-bottom: 0px;
    }
    .p-1{
        font-size: 30px;
        padding: 0px;
    }
}

/*----------------------------------
    MOBILE LAYOUT: 320px
-----------------------------------*/

@media only screen and (max-width: 767px) {
    .item2 { grid-area: menu;
        height: 50%;
        width: 20%;
        margin-left: 30px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        height: 100%;
    }
    .p-1{
        font-size: 25px;
        padding: 0px;
    }
    .p-2{
        padding-bottom: 20px;
        font-size: 7px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 10px;
    }
    .discover-btn{
        width: 170%;
        height: 6%;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .btn-txt{
        padding-top: 10px;
        font-size: 8px;
    }
    .item1 { 
        grid-area: header;
        margin-left: -120px;
        width: 350%;
        height: 90%;
    }
    .item5 { grid-area: footer; 
        padding: 0px;
        margin-left: -80px;
        width: 502%;
        height: 98%;
        margin-top: -40px;
    }
    .item3 { 
        grid-area: main;
        margin-left: -120px;
        width: 400%;
        height: 98%;
        margin-top: -40px;
     }
     .item4 { 
        grid-area: right;
        width: 40%;
        height: 170%;
        margin-top: -240px;
        margin-left: 30px;
    }
}