body {
  margin: 0;
}
.landing-footer {
  background: #2A3A64;
  height: 301px;
  padding: 3% 3% 3% 7%;
  color: #ffffff;
}

.footer-contactus {
  width: 100%;
  margin-bottom: 25px;
}

.footer-contactus p {
  font-weight: bolder;
  font-size: 18px
}

.footer-info {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 75px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-style: Medium;
  font-size: 15px
}

.footer-bottom {
  width: 100%;
  text-align: center;
}

.fab {
  margin: 10px;
  font-size: 28px;
}

.div-icons {
  display: flex;
}

.div-icons span {
  padding: 5px;
  border: 1px #ffffff solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.icon-insta {
  margin: 10px 22px 10px 450px;
}

.icon-fb {
  margin: 10px 22px 10px 0px;
}

.icon-t {
  margin: 10px 22px 10px 0px;
}