.resort-main {
	padding-left: 82px;
	padding-right: 82px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

.resort-header {
 text-align: center;
 margin-bottom: 3rem
}

.resort-header .subheader {
	font-family: GillSans;
	font-size: 16px;
	line-height: 19px;
	margin: 0;
	padding: 0;
	letter-spacing: -0.090535px;
	color: #000000;
}

.resort-header .header {
	font-family: GillSans;
	font-size: 33px;
	line-height: 39px;
	margin: 0;
	padding: 0;
	letter-spacing: -0.186728px;
	color: #000000;
}

.resort-body {
	height: 578px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 10px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	 "box-one box-two"
	 "box-one box-two"
}

.resort-subbody {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px 10px;
	grid-template-areas: 
	 "boxlet-one boxlet-two"
	 "boxlet-three boxlet-four"
}

.box-one {
	grid-area: box-one;
	background-image: url('./1.png');
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #979797;
	box-sizing: border-box;
}
.box-two {
	grid-area: box-two;
}
.boxlet-one {
	grid-area: boxlet-one;
	background-image: url('./2.png');
	background-repeat: no-repeat;
	background-size: cover;
	mix-blend-mode: normal;
	opacity: 0.8;
}
.boxlet-two {
	grid-area: boxlet-two;
	background-image: url('./3.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.boxlet-three {
	grid-area: boxlet-three;
	background-image: url('./4.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.boxlet-four {
	grid-area: boxlet-four;
	background-image: url('./5.png');
	background-repeat: no-repeat;
	background-size: cover;
}



@media only screen and (max-width: 950px) {
	.resort-main {
		padding-right: 0;
		padding-left: 0;
	}
	.resort-body {
		height: 100%;
		width: 100%;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
		grid-template-areas: 
		 "box-one"
		 "box-two"
	}
	.box-one {
		height: 200px;
	}
	.resort-subbody {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
		grid-template-areas: 
		 "boxlet-one"
		 "boxlet-two"
		 "boxlet-three"
		 "boxlet-four"
	}
	.boxlet-one {
		height: 200px;
	}
	.boxlet-two {
		height: 200px;
	}
	.boxlet-three {
		height: 200px;
	}
	.boxlet-four {
		height: 200px;
	}
}