.facilities-main{
position: absolute;
width: 1440px;
height: 1866px;
left: 0px;
top: 0px;

background: #FEFDFB;
}


/* Group 370 */
.first{                       
    height: 301px;
    width: 1135px;
    left: 151.5px;
    top: 872.5px;
}


/* Group  369 */
.second{
    /* padding-bottom: 50px; */
    /* position: absolute; */
    width: 1136px;
    height: 240px;
    left: 151px;
    top: 1525.5px;
}


/* group 368 */
.three{
    /* position: absolute; */
    width: 1136px;
    height: 240px;
    left: 151px;
    top: 1765.5px;
}




.facility{
    padding: 5px;
position: absolute;
width: 384px;
height: 301px;
background: #FFFFFF;
box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.07);

padding-bottom: 1%;
}


#spa{
    /* position: relative; */
left: 5%;
padding-bottom: 20px;
/* top: 2px; */
}

#laundry{
    left: 37%;
    /* top: 872.5px; */
    
}
#pool-bar{
    right: 5%;
    /* top: 1075px; */
}

#swimming-pool{
    left:5%;
}

#public-computer{
    left:37%;
}
#car-park{
    right:5%;
}


#security{
left: 5%;
}

#wifi{
left: 37%;
}

#lounge{
right: 5%;
}



.icon{
position: absolute;
width: 100px;
height: 100px;
border-radius: 50%;
left: 37%;
top: 10%;
background: #F4F4F4;

}


#vector-img{
    position: relative;
    
    left: 25%;
    top: 25%;
}


#vector{
position: absolute;
left: 0%;
right: 0%;
top: 7.46%;
bottom: 7.46%;

/* background: #71CE47; */
}

.title{
position: relative;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 137.4%;
/* or 30px */
top: 144px;
/* left: 25%;
right: 25%; */
letter-spacing: -0.015em;
text-align: center;
color: #606060;
}


.fac-content{
position: absolute;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 137.4%;
/* or 19px */
padding: 0% 10%;
text-align: center;
letter-spacing: -0.015em;
top: 185px;
text-align: center;
/* left: 10%;
right: 10%; */
color: #988686;

}

.explore{
  
width: 208px;
height: 64px;
position: absolute;
left: 42.78%;
right: 42.78%;
top: 74.82%;
bottom: 22.93%;

background: #71CE47;
border-radius: 8px;}


/* Explore text style */
#text{
    position: absolute;

left: 29%;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 109.4%;
/* or 26px */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}