/* This selector can be founded in facilities.html */
.seperationfoot{
  height: 100vh;
}
/*Made to temporarily move the footer downwards on facilities page*/
a{
  color: inherit;
  text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_main {
  background: #ffffff;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 80px;
  font-size: 14px;
}
.header_logo,
.footer_logo {
  float: left;
  margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 15px;
  width: 65px;
}
.header_navigation,
.footer_navigation {
  margin-top: 22px;
  margin-bottom: 22px;
  float: right;
  margin-right: 150px;
}
.header_nav-area,
.footer_nav-area {
  list-style-type: none;
  display: inline;
}
.item {
  padding: 5px 15px 3px 15px;
}

/* Banner/Sub-banner by Ejiroghene */

#__mainbanner {
    background: url("./Images/main_banner.png");
    position: relative;
    width: 100%;
    height: 800px;
    margin-bottom: 100px;
    background-size: 100% 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #__mainbanner::before,
  #__subbanner::before {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    top: 0;
  }
  
  #__bannerlabel {
    color: #ffffff;
    z-index: 2;
    position: relative;
    text-align: center;
    font-size: 3em;
    font-weight: 400 !important;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-transform: capitalize;
    margin: 0px auto;
    top: 50px;
  }
  
  #__subbanner {
    width: 60%;
    height: 360px;
    background: url("./Images/sub_banner.png");
    margin: 0px auto;
    background-size: 100% 100%;
    position: relative;
    bottom: -30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0px;
  }
  
  #__subbanner_label {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    z-index: 2;
    color: #ffffff;
    position: relative;
    top: 50px;
  }
  
  #__subbanner_label h2 {
    font-size: 2.5em;
    font-weight: 800 !important;
    margin: 0;
    line-height: 2em;
  }
  
  #__subbanner_label p {
    margin-top: 0;
    font-weight: normal !important;
    font-size: 1.7em;
  }
  
  #__subbanner_label .dots {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 2px;
    background-color: #ffffff;
  }
  
  #__subbanner_label .dots.active {
    background: #fd3d65;
  }
  /* Banner/Sub-banner Responsivess by Ejiroghene */
  
  @media screen and (max-width: 991px) {
    #__subbanner {
      height: 300px;
    }
  }
  
  @media screen and (max-width: 768px) {
    #__mainbanner {
      height: 400px;
    }
  
    #__bannerlabel {
      font-size: 2em;
      padding: 0px 15px;
    }
  
    #__subbanner {
      height: 200px;
      bottom: -30%;
    }
  
    #__subbanner_label {
      padding-bottom: 30px;
    }
  
    #__subbanner_label * {
      font-size: x-large !important;
    }
  }
  
  @media screen and (max-width: 520px) {
    #__subbanner_label h2 {
      font-size: 1.5em;
    }
  
    #__subbanner_label p {
      font-size: 1.2em !important;
    }
  }
  
  @media screen and (max-width: 480px) {
    #__bannerlabel {
      font-size: 2em;
      padding: 0px 15px;
    }
  
    #__subbanner {
      width: 80%;
    }
  }

  /* About us(Section below banner on home page) - @Giye */

  #about-us{
    background-color:#ffffff; ;
}

#about-us-intro{
    background-color: rgba(238, 238, 238, 0.5);
    height: 1126px;
    width: 100%;
    
}

.about-us-intro-row{
    display: flex;
    flex-wrap: wrap;
    height: 1126px;
    width: 100%;
}

.about-us-intro-img{
    width: 50%;
    height: 563px;
}

.about-us-intro-des{
    margin: auto;
}

.about-us-small{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.090535px;
}

.about-us-subcaption{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 33px;
    line-height: 39px;
    letter-spacing: -0.186728px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
}
.about-us-description{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.101852px;
    width: 374px;
    height: 54;
}


#about-us-mid{
    padding-top: 160px;
    margin-bottom: 160px;
    background-color: #FFFFFF;
}
.about-us-cap{
    
    margin: 0 auto;
    text-align: center;

}
#about-us-resort{
    padding-top: 40px;
    margin: auto;
    width: 1160px;
    height: 578px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.about-us-resort-img-row1{
    height: 275px;
    width: 380px;
    
}
.about-us-resort-img-row2{
    height: 283px;
    width: 380px;

}
#about-us-suite{
    background-color:#FFFFFF;
    padding-bottom: 260px;
}
#about-us-suite-frame{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-us-suite-side-left{
    height: 446px;
}

#about-us-suite-main{
    width: 822px;
    height: 573px;
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) ),url("./Images/suite-main.png") center no-repeat;
    background-size: cover;
    position: relative;
    z-index:0;
}
#cont{
   position:absolute;
   top:292px;
   left: 55px;;
}
#about-us-suite-main-p{
    width: 393px;
    height: 94px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.226338px;
    color: #FFFFFF;
    margin-bottom: 12px;

}

#about-us-suite-main-span{
    width: 226px;
    height: 23px;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.113169px;
    display:block;
    color: #FFFFFF;
    margin-bottom: 16px;


}
#book-now-button{
    background-color: #FD3D65;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    border: none;
    color: #FFFFFF;
    height: 18px;
    font-size: 15px;
    line-height: 18px;

    letter-spacing: -0.0578704px;   
}

/* Resorts and spa section(Home page) by @Deola*/

.resort-main {
	padding-left: 82px;
	padding-right: 82px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

.resort-header {
 text-align: center;
 margin-bottom: 3rem
}

.resort-header .subheader {
	font-family: GillSans;
	font-size: 16px;
	line-height: 19px;
	margin: 0;
	padding: 0;
	letter-spacing: -0.090535px;
	color: #000000;

}

.resort-header .header {
	font-family: GillSans;
	font-size: 33px;
	line-height: 39px;
	margin: 0;
	padding: 0;
	letter-spacing: -0.186728px;
	color: #000000;
        text-transform: capitalize;
}

.resort-body {
	height: 578px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 10px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	 "box-one box-two"
	 "box-one box-two"
}

.resort-subbody {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px 10px;
	grid-template-areas: 
	 "boxlet-one boxlet-two"
	 "boxlet-three boxlet-four"
}

.box-one {
	grid-area: box-one;
	background-image: url('./Images/resort-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #979797;
	box-sizing: border-box;
}
.box-two {
	grid-area: box-two;
}
.boxlet-one {
	grid-area: boxlet-one;
	background-image: url('./Images/resort-2.png');
	background-repeat: no-repeat;
	background-size: cover;
	mix-blend-mode: normal;
	opacity: 0.8;
}
.boxlet-two {
	grid-area: boxlet-two;
	background-image: url('./Images/resort-3.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.boxlet-three {
	grid-area: boxlet-three;
	background-image: url('./Images/resort-4.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.boxlet-four {
	grid-area: boxlet-four;
	background-image: url('./Images/resort-5.png');
	background-repeat: no-repeat;
	background-size: cover;
}

/* Resorts and spa section(Home page) Responsivess by @Deola*/


@media only screen and (max-width: 950px) {
	.resort-main {
		padding-right: 0;
		padding-left: 0;
	}
	.resort-body {
		height: 100%;
		width: 100%;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
		grid-template-areas: 
		 "box-one"
		 "box-two"
	}
	.box-one {
		height: 200px;
	}
	.resort-subbody {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
		grid-template-areas: 
		 "boxlet-one"
		 "boxlet-two"
		 "boxlet-three"
		 "boxlet-four"
	}
	.boxlet-one {
		height: 200px;
	}
	.boxlet-two {
		height: 200px;
	}
	.boxlet-three {
		height: 200px;
	}
	.boxlet-four {
		height: 200px;
	}
}


/*Rooms and Rates Page  */

/* Rooms and Rates Banner by Devgrachy  */

.banner{
    background-image: url("img/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:100%;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title{
    position: absolute;
    margin: auto;
    z-index: 2;
    
    
}

.banner-title h1{
    font-size:3rem;
    color:#ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner-overlay{
    background: #0000007a;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
/* Rooms and Rates Banner Responsiveness by Devgrachy  */


@media only screen and (max-width: 1020px){
    .banner-title h1{
        font-size:35px;
    }

    .banner{
       background-position: center center;
    }
}

/* Rooms and rates Section by Chidi */

.rectangles{
	width:30%;
	height:341px;
	padding:15px 10px;
}

.rectangles:hover{
	opacity:0.5;
}

@media(max-width:1250px){
	.rectangles{
	  width:30%;
	  height:300px;
	  padding:15px 10px;
	  margin-left:auto;
	  margin-right:auto;
    }
}

@media(max-width:770px){
	.rectangles{
	  width:200px;
	  height:250px;
    }
}

@media(max-width:700px){
	.rectangles{
	  width:80%;
	  margin:auto 15%;
	  height:300px;
    }
}


@media(max-width:500px){
	.rectangles{
	  width:85%;
	  height:200px;
    }
}
/* Reviews section by Babscode */
.reviews{
	padding: 40px 0;
	background: #fff;
	color: #434343;
    text-align: center;
    font-family: 'montserrat', sans-serif;
}
.reviews-header{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 20px 20px 10px 20px;
}
.reviews-header h1{
	font-weight: 400;
	color: #000000;
	font-size: 33px;
}
.reviews-row{

}
.review-row-col{
	
}
.review{
	display: flex;
	background: #fff;
	padding: 20px;
}
.review img{

}
.review p{
	font-size: 17px;
	
}
.review .name{
	font-size: 20px;
	padding: 20% 0 5px 0;
	/*text-align: center; */
}
.review .star{
	color: #000000;
	font-size: 8px;
}
.review .col2{
	background-color: #EEEEEE;

}
.review .col2 .content{
	margin-left: 10%;
	padding: 0 15px;
	text-align: left;
	line-height: 19px;
	font-weight: 200;
}
.reviews-row .owl-dots{
	text-align: center;
}

.reviews-row .owl-dot{
	display: inline-block;
	height: 8px !important;
	width: 8px !important;
	background-color: #D8D8D8 !important;
	opacity: 0.8;
	border-radius: 50%;
	margin: 50px 5px 0; 
}
.reviews-row .owl-dot.active{
	background-color: #FD3D65 !important;
}
/*responsive css*/
@media only screen and (max-width: 600px) {
 .review{
		flex: 100%;
		max-width: 100%;
	}
}
 .review img{
    height: 160px;
}
/*===Reviews Ends===*/

/* Feature-in section by Babscode */

/*===Featured===*/
.featured{
	padding: 20px 0;
	background: #fff;
	color: #434343;
	text-align: center;
}
.featured-header {
   max-width: 1200px;
   margin: auto;
   overflow: hidden;
   margin-bottom: 34px;
  
}
.featured-header h1{
	font-size: 33px;
	font-weight: 400;
	color: #000000;

}
.featured-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 20%;
}
.featured-col{
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 5px;
}
@media only screen and (max-width: 600px) {
 .featured-col{
	flex: 100%;
	max-width: 100%;
	box-sizing: border-box;

	}
}

/*===Featured Ends===*/


/* Facilities Page */

.facilities_container {
    position: relative;
    top: 0;
    width: 100%;
  }
  
  .facilities_header {
    display: flex;
    background: rgba(0, 0, 0, 0.5) url(./img/hotel-background.jpg);
    /* background-image: url(./img/hotel-background.jpg);
    background-color: rgba(0, 0, 0, 0.5);*/
    background-blend-mode: darken;
    background-repeat: no-repeat;
    height: 265px;
    background-size: cover;
    position: relative;
  }
  
  .facilities_big {
    color: #ffffff;
    font-size: 38px;
    text-align: center;
    position: absolute;
    left: 27%;
    top: 39%;
  }
  .facilities_services {
    position: absolute;
    top: 221px;
    left: 38px;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    flex-flow: column wrap;
    z-index: 10;
    background-color: #ffff;
    border: 1px solid #ffffff;
  }
  li {
    list-style-type: none;
  }
  .facilities_row-one,
  .facilities_row-two,
  .facilities_row-three {
    width: 90%;
    border: 1px solid #fff;
    box-shadow: 10px 3px 5px #fff;
  }
  .facilities_row-one {
    padding-top: 10px;
  }
  .facilities_grouping {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .facilities_item {
    width: 50%;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .facilities_item img {
    height: 32px;
    margin-left: 50px;
  }
  .facilities_text {
    display: block;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.2px;
    text-transform: capitalize;
  }
  /*start of screen size >420px for mobile*/
  @media screen and (min-width: 420px) {
    .facilities_big {
      margin-left: 28px;
    }
    .facilities_services {
      top: 160px;
      left: 44px;
    }
    .facilities_grouping {
      padding-left: 20px;
    }
    .facilities_item {
      padding-top: 25px;
    }
  }
  /*end*/
  /* start of tablet styles*/
  @media (min-width: 760px) {
    .facilities_big {
      margin-left: 10%;
    }
    .facilities_services {
      margin-left: 30px;
    }
    .facilities_row-one {
      padding-top: 28px;
    }
    .facilities_item img {
      margin-left: 45%;
    }
    .facilities_text {
      font-size: 18px;
    }
  }
  @media  (max-width: 800px) {
    .facilities_header {
      width: 100%;
    }
  }
  @media (min-width: 890px) and (max-width: 1440px) {
    .facilities_header {
      width: 103%;
    }
    .facilities_big {
      margin-left: 158px;
    }
    .facilities_services {
      top: 187px;
      left: 10%;
      margin: 0 auto;
    }
    .facilities_row-one {
      padding-top: 40px;
    }
    .facilities_grouping {
      width: 100%;
      padding-left: 45px;
      margin-bottom: 50px;
    }
    .facilities_item {
      width: 23%;
      padding-right: 7px;
    }
    .facilities_item img {
      height: 45px;
      margin-left: 60px;
      margin-bottom: 15px;
    }
    .facilities_text {
      font-size: 19px;
    }
  }
  @media (min-width: 1450px) {
    .facilities_big {
      margin-left: 4.5em;
      font-size: 64px;
    }
    .facilities_services {
      top: 200px;
      left: 10%;
    }
    .facilities_grouping {
      width: 100%;
      padding-left: 45px;
      margin-bottom: 50px;
    }
    .facilities_item {
      width: 25%;
    }
    .facilities_item img {
      margin-left: 130px;
      height: 35px;
      margin-bottom: 15px;
    }
  }


/* Footer section by Oluwatosin */

.item {
    padding: 5px 15px 3px 15px;
  }
  .footer_main {
    background: rgba(216, 216, 216, 0.5);
    background-size: cover;
    height: 325px;
  }
  .footer_logo,
  .footer_navigation {
    margin: 210px 0px 5px 0px;
  }
  .footer_logo {
    margin-left: 130px;
	
  }
  .footer_navigation {
    margin-right: 150px;
  }
  .btn {
    color: #ffffff;
    background: #fd3d65;
    text-transform: uppercase;
    border: 1px solid #fd3d65;
    height: 33px;
    width: 87px;
    font-size: 11px;
    margin-left: 29px;
  }
